@import "main";

body {
	text-align: center;
}

h3 {
	margin-bottom: 6vh;
	font-size: 3vw;

	@include view-wide() {
		font-size: 3vh;
	}
}

.poem {
	margin-bottom: 25vh;
	margin-top: 15vh;
	font-size: 2.5vw;

	@include view-wide() {
		font-size: 2.5vh;
	}
}
