// Google fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans&display=swap");

body {
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

h1 {
	font-family: "Noto Sans", "Montserrat", sans-serif;
}

h3 {
	margin-bottom: 20px;
}

.poem {
	margin-bottom: 200px;
	margin-top: 100px;
}
