@import url("https://use.typekit.net/gby4xoo.css");

$color-main: #22b17a;
$color-secondary: #696969;
$color-light: #ffffff;
$color-light-secondary: #f3f3f3;

@mixin shadow {
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

@mixin tiny {
	@media (max-width: 430px) {
		@content;
	}
}

* {
	font-family: proxima-nova, "Helvetica Neue", sans-serif;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

main {
	text-align: center;
}

.container {
	@media (min-width: 970px) {
		max-width: 720px;
	}
}

.headshot {
	object-fit: cover;
	width: 170px;
	height: 170px;

	@include tiny() {
		width: 140px;
		height: 140px;
	}

	border-radius: 50%;
	margin-top: 30px;
	@include shadow;
}

.title {
	color: $color-main;

	font-weight: 700;
	font-style: normal;
	font-size: 54px;

	margin-top: 16px;
	margin-bottom: 0px;

	@include tiny() {
		font-size: 42px;
	}
}

.social-icons {
	margin-top: 0;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;

	.social-icon {
		width: 45px;
		height: 45px;
		padding: 0;
		margin: 0px 10px;

		@include tiny() {
			width: 35px;
			height: 35px;
			margin: 0px 5px;
		}

		background: $color-secondary;
		color: $color-light;

		&.icon-github:hover {
			background: #24292e;
		}

		&.icon-linkedin:hover {
			background: #0b65c2;
		}

		&.icon-mail:hover {
			background: $color-main;
		}

		&.icon-phone:hover {
			background: $color-main;
		}

		&.icon-github {
			span {
				transform: translateY(-75%) scale(1.75);

				@include tiny() {
					transform: translateY(-75%) scale(1.5);
				}
			}
		}

		&.icon-phone {
			span {
				transform: translateY(-75%) scale(1.25);

				@include tiny() {
					transform: translateY(-75%) scale(1);
				}
			}
		}

		span {
			transform: translateY(-75%) scale(1.5);
			position: relative;
			top: 50%;

			@include tiny() {
				transform: translateY(-75%) scale(1.25);
			}
		}

		border-radius: 50px;
	}
}

.info {
	background-color: $color-main;
	color: $color-light;
	border-radius: 15px;
	box-shadow: inset 0px 0px 10px 0px rgba(darken($color-main, 15%), 0.75);
	padding: 20px;

	padding-top: 40px;
	display: flex;
	justify-content: center;

	font-size: 20px;

	#copyButton {
		margin: 0px;
		margin-left: 30px;
		margin-right: 15px;
		color: $color-light;
		cursor: pointer;
	}

	#openButton {
		color: $color-light;
		cursor: pointer;
	}
}

.bio {
	margin-top: 40px;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;

	@include tiny() {
		font-size: 16px;
	}
}

.cards {
	margin-top: 60px;

	.card {
		border: none;
		background-color: $color-main;
		text-align: left;
		border-radius: 0;
		padding: 16px 20px;
		margin-bottom: 20px;
		@include shadow;

		.card-title {
			font-weight: 700;
			font-style: normal;
			font-size: 24px;
			color: $color-light;
			margin-bottom: 0;
			line-height: 1;

			@include tiny() {
				font-size: 20px;
			}
		}

		.card-subtitle {
			font-weight: 400;
			font-style: italic;
			font-size: 16px;
			color: $color-light-secondary;
			margin-top: 0;

			@include tiny() {
				font-size: 14px;
			}
		}

		.card-description {
			font-weight: 400;
			font-style: normal;
			font-size: 16px;
			color: $color-light-secondary;
			margin-top: 0;
			line-height: 1.25;
			margin-top: 16px;
			margin-bottom: 0;

			@include tiny() {
				font-size: 14px;
			}
		}

		.card-links {
			text-align: end;
			margin-top: -16px;
			text-decoration: none;

			@include tiny() {
				text-align: start;
				margin-right: 40%;
			}

			.card-link {
				margin-top: 0;
				margin-right: 0;
				margin-left: 0;

				img {
					padding: 16px 0px;
					height: 70px;
					margin-left: 10px;

					@include tiny() {
						height: 60px;
						margin-top: 5px;
						margin-right: 10px;
						margin-left: 0px;
					}
				}

				.icon {
					filter: invert(100%);
				}
			}
		}

		&#card-csstoolkit {
			background-image: url("../assets/csstoolkit.png");
		}

		&#card-personalwebsite {
			background-image: url("../assets/personalwebsite.png");
		}

		&#card-fashionclassifier {
			background-image: url("../assets/fashionclassifier.png");
		}

		&#card-lyricgen {
			background-image: url("../assets/lyricgen.png");
		}

		&#card-stockpred {
			background-image: url("../assets/stockpred.png");
		}

		&#card-engine {
			background-image: url("../assets/engine.png");
		}

		background-blend-mode: multiply;
		background-position: right;
		background-repeat: no-repeat;
		background-size: 60%;

		@include tiny() {
			background-size: contain;
			background-position: center;
		}
	}
}

.end {
	font-weight: 400;
	font-style: normal;
	font-size: 18px;

	@include tiny() {
		font-size: 16px;
	}

	padding-top: 500px;
	padding-bottom: 30px;

	p {
		margin-bottom: 0px;
	}

	a {
		text-decoration: underline;
	}
}
