// Google fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans&display=swap");

// Custom variables & functions
$border-radius: 3vw;
$gradient-angle: 160deg;
$navbar-size: 12vw;
$navbar-size-large: 80px;
$navbar-size-width: 1200px;
$navbar-button-size: 9vw;

$colors: (
	primary: #f8e95f,
	primary-accent: #ffca1d,
	base: #f3f3f3,
	base-accent: #232323
);

@function get-color($color) {
	@return map-get($colors, $color);
}

@mixin gradient($color-1, $color-2) {
	background: $color-1;
	background: linear-gradient($gradient-angle, $color-1 0%, $color-2 100%);
}

@mixin gradient-primary() {
	@include gradient(get-color(primary), get-color(primary-accent));
}

@mixin view-tablet() {
	@media (min-width: 765px) {
		@content;
	}
}

@mixin view-desktop() {
	@media (min-width: 1400px) {
		@content;
	}
}

// Custom elements
.button {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: get-color(base);

	border: 0.75vw solid get-color(primary);
	border-radius: $border-radius;

	font-size: 3.25vw;

	padding: 3vw 12.5vw;
	position: relative;
	z-index: 1;

	transition: border-color 0.375s ease-out, color 0.375s ease-out;
}

.button:hover {
	border-color: rgba(0, 0, 0, 0);
	color: get-color(base-accent);
}

.button::before {
	content: "";

	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	@include gradient-primary();
	border-radius: $border-radius;

	clip-path: circle(0% at 50% 50%);
	transition: clip-path 0.4s ease-out;
	z-index: -1;
}

.button:hover::before {
	clip-path: circle(100% at center center);
}

.button:active::before {
	@include gradient(lighten(get-color(primary), 7.5%), lighten(get-color(primary-accent), 7.5%));
	transform: scale(0.95);
}

.pop {
	animation: popAnimation 0.3s 1 0s ease-out;
}

.poppable {
	cursor: pointer;
}

@keyframes popAnimation {
	0% {
		transform: scale(1);
	}
	30% {
		transform: rotate(-7.5deg) scale(1.1);
	}
	70% {
		transform: rotate(7.5deg) scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.scrollstop {
	position: relative;
	transform: translateY(-$navbar-size);

	@include view-tablet() {
		transform: translateY(-$navbar-size-large);
	}
}

// Page elements
html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;

	font-family: "Montserrat", sans-serif;
}

h1 {
	font-family: "Noto Sans", sans-serif;
}

nav {
	position: fixed;
	z-index: 999;

	width: 100%;
	height: $navbar-size;

	@include view-tablet() {
		height: $navbar-size-large;
	}

	background-color: white;

	.nav-button {
		display: block;

		@include view-tablet() {
			display: none;
		}

		cursor: pointer;
		float: right;
		margin-right: 5vw;
		width: $navbar-button-size;
		margin-top: $navbar-button-size/4;

		div {
			@include gradient-primary();
			width: 100%;
			height: $navbar-button-size/6;
			margin-bottom: $navbar-button-size/6;

			transform: translate3d(0, 0, 0);
			transition: transform 0.4s ease;
		}

		&.nav-active {
			.line-1 {
				transform: translateY($navbar-button-size/3) rotate(-45deg);
			}

			.line-2 {
				transform: translateX(calc(#{$navbar-button-size} + 5vw));
			}

			.line-3 {
				transform: translateY(-$navbar-button-size/3) rotate(45deg);
			}
		}
	}

	.nav-main {
		@include view-desktop() {
			margin: 0 calc(calc(100vw - #{$navbar-size-width}) / 2);
		}
	}

	.nav-title {
		display: inline-block;
		margin-left: 5vw;
		margin-top: ($navbar-size - 6.8vw)/2;

		@include view-tablet() {
			margin-top: 15.5px;
		}

		@include view-desktop() {
			margin-left: 0;
			margin-top: 12px;
		}

		a {
			text-decoration: none;
			text-align: left;

			font-weight: bold;
			font-size: 5vw;
			font-family: "Noto Sans";
			color: get-color(base-accent);

			@include view-tablet() {
				font-size: 36px;
			}
		}

		a:hover {
			@include gradient-primary();
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.nav-content {
		position: absolute;
		@include gradient-primary();
		border-radius: 0 0 $border-radius $border-radius;
		width: 100vw;
		text-align: center;
		top: $navbar-size;
		list-style: none;

		transform-origin: top center;
		transform: rotateX(90deg);
		transition: transform 0.5s ease-out;

		@include view-tablet() {
			text-align: right;
			transition: none;
			transform: none;
			background: none;
			border-radius: 0;

			width: 60vw;
			padding-right: 5vw;
			top: 0;
			bottom: 0;
			right: 0;

			display: inline-flex;
			align-content: flex-end;
			justify-content: flex-end;
		}

		@include view-desktop() {
			right: calc(calc(calc(100vw - #{$navbar-size-width}) / 2) - 25px);
			padding-right: 0;
			width: auto;
		}

		li {
			margin: 2vw 0;

			@include view-tablet() {
				align-self: center;
				margin-left: 3vw;
			}

			@include view-desktop() {
				margin: 0;
				margin-left: 25px;
				margin-right: 25px;
			}
		}

		a {
			text-decoration: none;
			color: get-color(base-accent);
			font-size: 6vw;

			@include view-tablet() {
				font-size: 18px;
				color: get-color(base-accent);
			}
		}

		a:hover {
			text-decoration: underline;
		}

		a.nav-active {
			font-weight: bold;
			text-decoration: underline;
		}

		&.nav-active {
			transform: rotateX(0deg);
		}
	}
}

.landing {
	background-color: get-color(base-accent); // TODO use image
	color: get-color(base);
	height: 100vh;

	h1 {
		width: 80vw;
		font-size: 8.5vw;

		line-height: 9vw;
		padding-left: 5vw;
		padding-top: 15vh;
	}

	.button {
		margin-left: 5vw;
		margin-top: 6vh;
	}
}

.about {
	background-color: get-color(base);

	img {
		display: block;
		position: relative;

		width: 55vw;
		height: auto;

		margin: 0 auto;
		padding: 8vw 0;

		border-radius: 50%;
		z-index: 2;
	}

	.about-info {
		h2 {
			font-weight: normal;
			text-decoration: underline;
			text-align: center;
			font-size: 8vw;
			margin-bottom: 3vw;
		}

		p {
			text-align: center;
			margin: 0 3.5vw;
			padding-bottom: 8vw;
			font-size: 4vw;
		}
	}

	&::before {
		content: "";
		background-color: inherit;
		position: absolute;
		width: 100%;
		height: 12vw;
		transform: translateY(-9vw);
		clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
	}
}
