// Google fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$navbar-size: 50px;
$border-radius: 5px;
$gradient-angle: 135deg;

$colors: (
	primary: #f7568c,
	primary-accent: #f05c52,
	secondary: #454fa8,
	secondary-accent: #4a1c94,
	base: #ffffff,
	base-accent: #1d1d1d
);

@function get-color($color) {
	@return map-get($colors, $color);
}

@mixin gradient-primary($angle) {
	background-image: linear-gradient($angle, get-color(primary), get-color(primary-accent));
}

@mixin gradient-secondary($angle) {
	background-image: linear-gradient($angle, get-color(secondary), get-color(secondary-accent));
}

@mixin view-tablet() {
	@media (min-width: 750px) {
		@content;
	}
}

.social-icons {
	display: flex;
	list-style: none;
	justify-content: center;

	i {
		padding: 5 * 1vw * 2/3;
		font-size: 5 * 1vw;
		border-radius: 50%;

		margin-left: 2vw;
		margin-right: 2vw;
	}

	i:hover {
		transform: rotate(360deg);
		transition: all 0.5s ease;
	}

	.fa-linkedin-in {
		background-image: linear-gradient($gradient-angle, #0583bd, #125f83);
		color: white;
	}

	.fa-github {
		background-image: linear-gradient($gradient-angle, #1b1b1b, #000000);
		color: white;
	}

	.fa-envelope {
		background-image: linear-gradient($gradient-angle, #f0685c, #cc4135);
		color: white;
	}

	.fa-window-maximize {
		background-image: linear-gradient($gradient-angle, #5c90f0, #2054b4);
		color: white;
	}

	.fa-google-play {
		background-image: linear-gradient($gradient-angle, #00d0ff, #00f076);
		color: white;
	}
}

.pagestop {
	transform: translateY(-$navbar-size);
}

html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

.nav-head {
	z-index: 999;
	background-color: get-color(base);
	position: fixed;
	width: 100%;
	height: $navbar-size;

	.nav-collapse {
		margin-top: 12.5px;
		margin-left: 6.25px;

		cursor: pointer;
	}

	.nav-collapse div {
		@include gradient-primary($gradient-angle);
		transition: all ease 0.3s;
		width: 35px;
		height: $navbar-size/10;
		margin-top: $navbar-size/10;
	}
}

.nav-content {
	z-index: 998;
	position: fixed;
	display: block;
	@include gradient-primary($gradient-angle);

	transform: translateY(-500px);
	transition: transform 0.75s ease;

	width: 100%;
	margin-top: $navbar-size;
	padding-top: $navbar-size/2;
	padding-bottom: $navbar-size/2;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 30px 55px -25px rgba(0, 0, 0, 0.75);

	ul {
		font-size: 30px;
		text-align: center;
	}

	li {
		padding-bottom: $navbar-size / 5;
	}

	a {
		text-decoration: none;
		color: get-color(base);
	}

	a:active {
		font-weight: bold;
	}

	.social-icons {
		padding-top: $navbar-size / 5;
	}

	.social-icons:active {
		font-weight: normal;
	}
}

.nav-content.nav-active {
	transform: translateY(0px);
}

.nav-collapse.nav-active {
	.line-1 {
		transform: translateY(10px) rotate(45deg);
	}

	.line-2 {
		transform: translateX(-50px);
	}

	.line-3 {
		transform: translateY(-10px) rotate(-45deg);
	}
}

main {
	top: 0;
}

.landing {
	@include gradient-secondary($gradient-angle);
	color: get-color(base);

	height: 100vh;

	display: grid;
	grid-gap: 0;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: $navbar-size 1fr 1fr;
	grid-template-areas: ". ." "info info" "images images";

	// TODO on desktop change grid layout
	//grid-template-areas: ". ." "info images" "info images";

	.landing-info {
		grid-area: info;
		text-align: center;

		h1 {
			margin-top: 10vh;
			font-size: 12vw;
			font-weight: bold;
		}

		p {
			padding: 1vh 1vw;
			font-size: 4vw;
		}

		.button {
			z-index: 4;
			position: absolute;
			transform: translateX(-50%);
			margin-top: 5vh;

			width: calc(75px + 16vw);
			padding: 3vw 0;

			font-size: calc(10px + 2vw);
			font-weight: bold;
			border-radius: $border-radius;

			color: get-color(base);
			@include gradient-primary($gradient-angle);
			text-decoration: none;
		}
	}

	.landing-images {
		grid-area: images;
		align-self: end;
		text-align: center;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0;
		grid-template-areas: "left left";

		// TODO on desktop
		//grid-template-areas: "left right";

		img {
			align-self: end;
			width: auto;
			box-shadow: 0px -35px 115px -50px rgba(0, 0, 0, 0.5);
		}

		.screenshot-1 {
			z-index: 2;
			grid-area: left;

			justify-self: end;

			width: 80vw;
			max-width: 37vh;
			margin-right: 4vw;
		}

		.screenshot-2 {
			z-index: 1;
			grid-area: left;

			width: 82vw;
			max-width: 38vh;
			margin-left: 3vw;
		}

		.screenshot-3 {
			z-index: 3;
			grid-area: left;

			width: 52vw;
			max-width: 24vh;
			margin-left: 12vw;
		}
	}
}

.about {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
	grid-template-areas: "image image" "text text";

	@include view-tablet() {
		grid-template-areas: "image text" "image text";
	}

	text-align: center;
	background-color: get-color(base);
	color: get-color(base-accent);

	img {
		grid-area: image;
		border-radius: 50%;
		justify-self: center;
		margin: 5vw 0;
		width: 50vw;

		@include view-tablet() {
			width: 20vw;
			margin: 0 5vw;

			align-self: center;
		}
	}

	h1 {
		grid-area: text;
		font-size: 8vw;
		font-weight: normal;
		text-decoration: underline;

		@include view-tablet() {
			margin-top: 1.5vh;
			font-size: 4.5vw;
			text-align: left;
		}
	}

	p {
		grid-area: text;
		font-size: 3.5vw;
		margin-top: 12vw;
		margin-bottom: 10vw;
		margin-left: 2.5vw;
		margin-right: 2.5vw;

		@include view-tablet() {
			margin-left: 0;
			margin-right: 2vw;
			margin-top: 9vw;
			margin-bottom: 3vw;

			font-size: 2.25vw;
			text-align: left;
		}
	}
}

.skills {
	color: get-color(base);

	h1 {
		text-align: center;
		font-size: 7vw;
		text-decoration: underline;
		font-weight: normal;
		padding: 2vw 0;
	}

	$skills-height: 110vw;
	$skills-bottom: 40vw;

	.skills-back {
		background-color: darken(get-color(base), 5%);
		color: get-color(base-accent);

		height: calc(#{$skills-height} + #{$skills-bottom});
		display: grid;
		grid-template-rows: $skills-height $skills-bottom;
		grid-template-areas: "info" "select";

		.skills-back-info {
			grid-area: info;

			.company {
				padding-bottom: 0;
			}

			.date {
				font-size: 4vw;
				text-align: center;
			}

			.title {
				margin: 0 4vw;
				margin-top: 12vw;

				font-size: 5vw;
				text-align: left;
				font-style: italic;
			}

			.desc {
				margin: 0 4vw;
				margin-top: 3vw;

				font-size: 3.3vw;
				text-align: left;
			}
		}

		.skills-back-selector {
			grid-area: select;

			h1 {
				margin-bottom: 2vw;
			}

			ul {
				list-style: none;

				display: grid;
				grid-template-columns: 1fr 1fr 1fr;

				li {
					justify-self: center;
				}
			}

			img {
				height: 20vw;
				filter: grayscale(100%);
			}

			.skill-logo-active {
				filter: grayscale(0%);
				filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.55));
			}

			.skills-logos li {
				cursor: pointer;
			}
		}
	}

	.skills-cover {
		clip-path: circle(150% at 50% 0%);
		transition: clip-path 0.5s ease-in-out;

		@include gradient-primary($gradient-angle);
		box-shadow: 0px 25px 30px -40px rgba(0, 0, 0, 0.75);

		position: absolute;
		height: $skills-height;
		width: 100%;
		transform: translateY(-$skills-height - $skills-bottom);

		h2 {
			font-size: 5vw;
			margin-left: 2.5vw;
		}

		ul {
			list-style: none;
			margin-bottom: 2.25vw;
			margin-left: 2.5vw;
		}

		li {
			font-size: 3vw;
		}

		.skills-content {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto auto auto;
			grid-template-areas: "lang lang lang" "tech tech tech" "tool tool tool";
		}

		.skills-lang {
			grid-area: lang;
		}

		.skills-tech {
			grid-area: tech;
		}

		.skills-tool {
			grid-area: tool;
		}
	}

	.skills-cover-active {
		clip-path: circle(0% at 50% 0%);
	}
}

.projects {
	// TODO not loving the card look. Maybe play around with other options.

	.social-icons {
		justify-content: left;

		i {
			padding: 5 * 1vw * 2/3;
			font-size: 5 * 1vw;
			border-radius: 50%;
			margin: 0;
			margin-right: 1vw;

			@include view-tablet() {
				padding: 2 * 1vw * 2/3;
				font-size: 2 * 1vw;
			}
		}
	}

	h1 {
		text-align: center;
		font-size: 5vw;
	}

	.project-content {
		display: block;

		@include view-tablet() {
			display: flex;
		}

		margin: 0 10px;
	}

	.project {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-areas: "txt" "img";

		@include gradient-primary($gradient-angle);
		color: get-color(base);
		border-radius: $border-radius;
		margin: 10px;
		margin-bottom: 5px;
		padding: 15px;
	}

	.project-text {
		grid-area: txt;
	}

	img {
		grid-area: img;

		width: 95%;
		margin-top: 15px;
		margin-bottom: 0;
		height: auto;

		border-radius: $border-radius;
		align-self: end;
		justify-self: center;

		// TODO clippath on hover to show link?
	}

	h2,
	h3 {
		font-weight: normal;
	}

	p {
		margin-top: 20px;
	}

	a {
		text-decoration: underline;
		color: get-color(base);
	}

	a:hover {
		color: get-color(secondary-accent);
	}

	// TODO not active, but used? idk the name of it in css
	a:active {
		color: get-color(secondary);
		text-decoration: none;
	}
}
