@import url("https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans&display=swap");
.button {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: #f3f3f3;
  border: 0.75vw solid #f8e95f;
  border-radius: 3vw;
  font-size: 3.25vw;
  padding: 3vw 12.5vw;
  position: relative;
  z-index: 1;
  -webkit-transition: border-color 0.375s ease-out, color 0.375s ease-out;
  transition: border-color 0.375s ease-out, color 0.375s ease-out;
}

.button:hover {
  border-color: rgba(0, 0, 0, 0);
  color: #232323;
}

.button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #f8e95f;
  background: linear-gradient(160deg, #f8e95f 0%, #f37228 100%);
  border-radius: 3vw;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  -webkit-transition: -webkit-clip-path 0.4s ease-out;
  transition: -webkit-clip-path 0.4s ease-out;
  transition: clip-path 0.4s ease-out;
  transition: clip-path 0.4s ease-out, -webkit-clip-path 0.4s ease-out;
  z-index: -1;
}

.button:hover::before {
  -webkit-clip-path: circle(100% at center center);
          clip-path: circle(100% at center center);
}

.button:active::before {
  background: #faee84;
  background: linear-gradient(160deg, #faee84 0%, #f58a4c 100%);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.pop {
  -webkit-animation: popAnimation 0.3s 1 0s ease-out;
          animation: popAnimation 0.3s 1 0s ease-out;
}

.poppable {
  cursor: pointer;
}

@-webkit-keyframes popAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: rotate(-7.5deg) scale(1.1);
            transform: rotate(-7.5deg) scale(1.1);
  }
  70% {
    -webkit-transform: rotate(7.5deg) scale(1.1);
            transform: rotate(7.5deg) scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: rotate(-7.5deg) scale(1.1);
            transform: rotate(-7.5deg) scale(1.1);
  }
  70% {
    -webkit-transform: rotate(7.5deg) scale(1.1);
            transform: rotate(7.5deg) scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Noto Sans", sans-serif;
}

.landing {
  background-color: #232323;
  color: #f3f3f3;
  height: 100vh;
}

.landing h1 {
  width: 80vw;
  font-size: 8.5vw;
  line-height: 9vw;
  padding-left: 5vw;
  padding-top: 15vh;
}

.landing .button {
  margin-left: 5vw;
  margin-top: 12vw;
}

.about {
  background-color: #f3f3f3;
}

.about img {
  display: block;
  position: relative;
  width: 55vw;
  height: auto;
  margin: 0 auto;
  padding-top: 6vw;
  padding-bottom: 8vw;
  border-radius: 50%;
  z-index: 2;
}

.about .about-info h2 {
  font-weight: normal;
  text-decoration: underline;
  text-align: center;
  font-size: 8vw;
  margin-bottom: 3vw;
}

.about .about-info p {
  text-align: center;
  margin: 0 3.5vw;
  padding-bottom: 8vw;
  font-size: 4vw;
}

.about::before {
  content: "";
  background: #f3f3f3;
  height: 80px;
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  bottom: -37.5px;
}
/*# sourceMappingURL=style.css.map */