@import url("https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans&display=swap");
.button {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: #f3f3f3;
  border: 0.75vw solid #f8e95f;
  border-radius: 3vw;
  font-size: 3.25vw;
  padding: 3vw 12.5vw;
  position: relative;
  z-index: 1;
  -webkit-transition: border-color 0.375s ease-out, color 0.375s ease-out;
  transition: border-color 0.375s ease-out, color 0.375s ease-out;
}

.button:hover {
  border-color: rgba(0, 0, 0, 0);
  color: #232323;
}

.button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #f8e95f;
  background: linear-gradient(160deg, #f8e95f 0%, #ffca1d 100%);
  border-radius: 3vw;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  -webkit-transition: -webkit-clip-path 0.4s ease-out;
  transition: -webkit-clip-path 0.4s ease-out;
  transition: clip-path 0.4s ease-out;
  transition: clip-path 0.4s ease-out, -webkit-clip-path 0.4s ease-out;
  z-index: -1;
}

.button:hover::before {
  -webkit-clip-path: circle(100% at center center);
          clip-path: circle(100% at center center);
}

.button:active::before {
  background: #faee84;
  background: linear-gradient(160deg, #faee84 0%, #ffd343 100%);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.spin-x:hover {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
  -webkit-transition: -webkit-transform 0.75s ease-in-out;
  transition: -webkit-transform 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
}

.spin-y:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: -webkit-transform 0.75s ease-in-out;
  transition: -webkit-transform 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
}

.spin-z:hover {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
  -webkit-transition: -webkit-transform 0.75s ease-in-out;
  transition: -webkit-transform 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
}

.pop {
  -webkit-animation: popAnimation 0.3s 1 0s ease-out;
          animation: popAnimation 0.3s 1 0s ease-out;
}

.poppable {
  cursor: pointer;
}

@-webkit-keyframes popAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: rotate(-7.5deg) scale(1.1);
            transform: rotate(-7.5deg) scale(1.1);
  }
  70% {
    -webkit-transform: rotate(7.5deg) scale(1.1);
            transform: rotate(7.5deg) scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: rotate(-7.5deg) scale(1.1);
            transform: rotate(-7.5deg) scale(1.1);
  }
  70% {
    -webkit-transform: rotate(7.5deg) scale(1.1);
            transform: rotate(7.5deg) scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.scrollstop {
  position: relative;
  -webkit-transform: translateY(-12vw);
          transform: translateY(-12vw);
}

@media (min-aspect-ratio: 1 / 1) {
  .scrollstop {
    -webkit-transform: translateY(-7.2vw);
            transform: translateY(-7.2vw);
  }
}

@media (min-width: 765px) {
  .scrollstop {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Noto Sans", "Montserrat", sans-serif;
}

nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 12vw;
  background-color: white;
  -webkit-box-shadow: 0px 25px 80px -20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 25px 80px -20px rgba(0, 0, 0, 0.5);
}

@media (min-aspect-ratio: 1 / 1) {
  nav {
    height: 7.2vw;
  }
}

@media (min-width: 765px) {
  nav {
    height: 80px;
  }
}

nav .nav-button {
  display: block;
  cursor: pointer;
  float: right;
  margin-right: 5vw;
  width: 9vw;
  margin-top: 2.25vw;
}

@media (min-aspect-ratio: 1 / 1) {
  nav .nav-button {
    width: 5.4vw;
    margin-top: 1.35vw;
  }
}

@media (min-width: 765px) {
  nav .nav-button {
    display: none;
  }
}

nav .nav-button div {
  background: #f8e95f;
  background: linear-gradient(160deg, #f8e95f 0%, #ffca1d 100%);
  width: 100%;
  height: 1.5vw;
  margin-bottom: 1.5vw;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

@media (min-aspect-ratio: 1 / 1) {
  nav .nav-button div {
    height: 0.9vw;
    margin-bottom: 0.9vw;
  }
}

nav .nav-button.nav-active .line-1 {
  -webkit-transform: translateY(3vw) rotate(-45deg);
          transform: translateY(3vw) rotate(-45deg);
}

@media (min-aspect-ratio: 1 / 1) {
  nav .nav-button.nav-active .line-1 {
    -webkit-transform: translateY(1.8vw) rotate(-45deg);
            transform: translateY(1.8vw) rotate(-45deg);
  }
}

nav .nav-button.nav-active .line-2 {
  -webkit-transform: translateX(calc(9vw + 5vw));
          transform: translateX(calc(9vw + 5vw));
}

@media (min-aspect-ratio: 1 / 1) {
  nav .nav-button.nav-active .line-2 {
    -webkit-transform: translateX(calc(9vw* 3 / 5 + 5vw));
            transform: translateX(calc(9vw* 3 / 5 + 5vw));
  }
}

nav .nav-button.nav-active .line-3 {
  -webkit-transform: translateY(-3vw) rotate(45deg);
          transform: translateY(-3vw) rotate(45deg);
}

@media (min-aspect-ratio: 1 / 1) {
  nav .nav-button.nav-active .line-3 {
    -webkit-transform: translateY(-1.8vw) rotate(45deg);
            transform: translateY(-1.8vw) rotate(45deg);
  }
}

@media (min-width: 1400px) {
  nav .nav-main {
    margin: 0 calc(calc(100vw - 1200px) / 2);
  }
}

nav .nav-title {
  display: inline-block;
  margin-left: 5vw;
  margin-top: 2.6vw;
}

@media (min-aspect-ratio: 1 / 1) {
  nav .nav-title {
    margin-left: 8vw;
    margin-top: 1.04vw;
  }
}

@media (min-width: 765px) {
  nav .nav-title {
    margin-top: 15.5px;
  }
}

@media (min-width: 1400px) {
  nav .nav-title {
    margin-left: 0;
    margin-top: 12px;
  }
}

nav .nav-title a {
  text-decoration: none;
  text-align: left;
  font-weight: bold;
  font-size: 5vw;
  font-family: "Noto Sans";
  color: #232323;
}

@media (min-aspect-ratio: 1 / 1) {
  nav .nav-title a {
    font-size: 4vw;
  }
}

@media (min-width: 765px) {
  nav .nav-title a {
    font-size: 36px;
  }
}

nav .nav-title a:hover {
  background: #f8e95f;
  background: linear-gradient(160deg, #f8e95f 0%, #ffca1d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .nav-content {
  position: absolute;
  background: #f8e95f;
  background: linear-gradient(160deg, #f8e95f 0%, #ffca1d 100%);
  border-radius: 0 0 3vw 3vw;
  width: 100vw;
  text-align: center;
  top: 12vw;
  list-style: none;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

@media (min-aspect-ratio: 1 / 1) {
  nav .nav-content {
    top: 7.2vw;
  }
}

@media (min-width: 765px) {
  nav .nav-content {
    text-align: right;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
            transform: none;
    background: none;
    border-radius: 0;
    width: 60vw;
    padding-right: 5vw;
    top: 0;
    bottom: 0;
    right: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1400px) {
  nav .nav-content {
    right: calc(calc(calc(100vw - 1200px) / 2) - 25px);
    padding-right: 0;
    width: auto;
  }
}

nav .nav-content li {
  margin: 2vw 0;
}

@media (min-width: 765px) {
  nav .nav-content li {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 3vw;
  }
}

@media (min-width: 1400px) {
  nav .nav-content li {
    margin: 0;
    margin-left: 25px;
    margin-right: 25px;
  }
}

nav .nav-content a {
  text-decoration: none;
  color: #232323;
  font-size: 6vw;
}

@media (min-aspect-ratio: 1 / 1) {
  nav .nav-content a {
    font-size: 4vw;
  }
}

@media (min-width: 765px) {
  nav .nav-content a {
    font-size: 18px;
    color: #232323;
  }
}

nav .nav-content a:hover {
  text-decoration: underline;
}

nav .nav-content a.nav-active {
  font-weight: bold;
  text-decoration: underline;
}

nav .nav-content.nav-active {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.landing {
  height: 100vh;
  color: #f3f3f3;
  background-color: #232323;
  background-image: url("../assets/bg-landing.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing h1 {
  width: 80vw;
  font-size: 8.5vw;
  line-height: 9vw;
  padding-left: 5vw;
  padding-top: 15vh;
}

@media (min-aspect-ratio: 1 / 1) {
  .landing h1 {
    width: 41vw;
    font-size: 4.5vw;
    line-height: 4.5vw;
    padding-left: 8vw;
    padding-top: 25vh;
  }
}

@media (min-width: 765px) {
  .landing h1 {
    width: 48vh;
    font-size: 5vh;
    line-height: 5.3vh;
    padding-left: 8vw;
  }
}

.landing .button {
  margin-left: 5vw;
  margin-top: 6vh;
}

@media (min-aspect-ratio: 1 / 1) {
  .landing .button {
    margin-left: 8vw;
    font-size: 1.9vw;
    padding: 1.76vw 7.35vw;
    border-width: 0.44vw;
    border-radius: 1.76vw;
  }
}

@media (min-width: 765px) {
  .landing .button {
    margin-left: 8vw;
    font-size: 1.9vh;
    padding: 1.76vh 7.35vh;
    border-width: 0.44vh;
    border-radius: 1.76vh;
  }
}

@media (min-width: 765px) {
  .landing .button::before {
    border-radius: 1.76vh;
  }
}

.about {
  background-color: #f3f3f3;
}

@media (min-width: 765px) {
  @supports (display: grid) {
    .about {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto auto;
          grid-template-columns: auto auto;
          grid-template-areas: "img info";
    }
  }
}

.about img {
  display: block;
  position: relative;
  width: 55vw;
  height: auto;
  margin: 0 auto;
  padding: 8vw 0;
  border-radius: 50%;
  z-index: 2;
}

@media (min-width: 765px) {
  @supports (display: grid) {
    .about img {
      grid-area: img;
      width: 20vw;
      padding: 0;
      margin-left: 8vw;
      margin-right: 0;
      margin-bottom: 6vh;
      margin-top: 3vh;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
    }
  }
}

.about .about-info h2 {
  font-weight: normal;
  text-decoration: underline;
  text-align: center;
  font-size: 8vw;
  margin-bottom: 3vw;
}

@media (min-width: 765px) {
  @supports (display: grid) {
    .about .about-info h2 {
      font-size: 4vw;
      margin: 1vh 0;
      margin-bottom: 3vh;
    }
  }
}

.about .about-info p {
  text-align: center;
  margin: 0 3.5vw;
  padding-bottom: 8vw;
  font-size: 4vw;
}

@media (min-width: 765px) {
  @supports (display: grid) {
    .about .about-info p {
      font-size: 1.75vw;
      padding: 0;
    }
  }
}

@media (min-width: 765px) {
  @supports (display: grid) {
    .about .about-info {
      grid-area: info;
      margin-top: 4vh;
      margin-bottom: 4vh;
      margin-right: 4vw;
      -ms-flex-item-align: top;
          -ms-grid-row-align: top;
          align-self: top;
      -webkit-transform: translateY(-2vh);
              transform: translateY(-2vh);
    }
  }
}

.about::before {
  content: "";
  background-color: inherit;
  position: absolute;
  width: 100%;
  height: 12vw;
  -webkit-transform: translateY(-9vw);
          transform: translateY(-9vw);
  -webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
}

@media (min-aspect-ratio: 1 / 1) {
  .about::before {
    height: 16vh;
    -webkit-transform: translateY(-12vh);
            transform: translateY(-12vh);
    -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
  }
}

.skills {
  background: #f8e95f;
  background: linear-gradient(160deg, #f8e95f 0%, #ffca1d 100%);
  color: #232323;
  -webkit-box-shadow: inset 0px 0px 50px -10px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 50px -10px rgba(0, 0, 0, 0.25);
}

.skills h1 {
  text-align: center;
  font-size: 7vw;
  padding-top: 4vw;
  padding-bottom: 3vw;
}

@media (min-width: 765px) {
  @supports (display: grid) {
    .skills h1 {
      text-align: left;
      margin-left: 5.5vw;
      font-size: 4vw;
      padding-top: 3vw;
      padding-bottom: 2vw;
    }
  }
}

.skills .skills-content {
  padding: 4vw;
  padding-top: 2vw;
}

@media (min-width: 765px) {
  @supports (display: grid) {
    .skills .skills-content {
      padding: 2vw 0;
      padding-top: 0;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (min-width: 765px) {
  @supports (display: grid) {
    .skills .skills-content .skill-section {
      -ms-grid-column-align: center;
          justify-self: center;
    }
  }
}

.skills h2 {
  font-size: 6vw;
}

@media (min-width: 765px) {
  @supports (display: grid) {
    .skills h2 {
      font-size: 2.5vw;
    }
  }
}

.skills h2 i {
  margin-left: 2.5vw;
}

@media (min-width: 765px) {
  @supports (display: grid) {
    .skills h2 i {
      margin-left: 1vw;
    }
  }
}

.skills ul {
  list-style: none;
  padding-bottom: 6vw;
}

@media (min-width: 765px) {
  @supports (display: grid) {
    .skills ul {
      padding-bottom: 2vw;
    }
  }
}

.skills ul li {
  font-size: 4.25vw;
  width: 100%;
}

@media (min-width: 765px) {
  @supports (display: grid) {
    .skills ul li {
      font-size: 1.5vw;
    }
  }
}

.skills ul li a {
  color: #232323;
  text-decoration: none;
}

.skills ul li a:hover {
  text-decoration: underline;
}

.skills .skill-detail {
  display: none;
}

.skills .skill-detail p {
  display: inline-block;
  font-style: italic;
  font-size: 4vw;
}

@media (min-width: 765px) {
  @supports (display: grid) {
    .skills .skill-detail p {
      font-size: 1.25vw;
    }
  }
}

.skills .skill-detail-active {
  display: inline-block;
}

.contact {
  background-color: #232323;
  color: white;
}
/*# sourceMappingURL=style.css.map */