// Google fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans&display=swap");

// Custom variables & functions
$border-radius: 3vw;
$gradient-angle: 160deg;
$colors: (
	primary: #f8e95f,
	primary-accent: #f37228,
	base: #f3f3f3,
	base-accent: #232323
);

@function get-color($color) {
	@return map-get($colors, $color);
}

@mixin gradient($color-1, $color-2) {
	background: $color-1;
	background: linear-gradient($gradient-angle, $color-1 0%, $color-2 100%);
}

@mixin gradient-primary() {
	@include gradient(get-color(primary), get-color(primary-accent));
}

// Custom elements
.button {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: get-color(base);

	border: 0.75vw solid get-color(primary);
	border-radius: $border-radius;

	font-size: 3.25vw;

	padding: 3vw 12.5vw;
	position: relative;
	z-index: 1;

	transition: border-color 0.375s ease-out, color 0.375s ease-out;
}

.button:hover {
	border-color: rgba(0, 0, 0, 0);
	color: get-color(base-accent);
}

.button::before {
	content: "";

	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	@include gradient-primary();
	border-radius: $border-radius;

	clip-path: circle(0% at 50% 50%);
	transition: clip-path 0.4s ease-out;
	z-index: -1;
}

.button:hover::before {
	clip-path: circle(100% at center center);
}

.button:active::before {
	@include gradient(lighten(get-color(primary), 7.5%), lighten(get-color(primary-accent), 7.5%));
	transform: scale(0.95);
}

.pop {
	animation: popAnimation 0.3s 1 0s ease-out;
}

.poppable {
	cursor: pointer;
}

@keyframes popAnimation {
	0% {
		transform: scale(1);
	}
	30% {
		transform: rotate(-7.5deg) scale(1.1);
	}
	70% {
		transform: rotate(7.5deg) scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

// Page elements
html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;

	font-family: "Montserrat", sans-serif;
}

h1 {
	font-family: "Noto Sans", sans-serif;
}

.landing {
	background-color: get-color(base-accent); // TODO use image
	color: get-color(base);
	height: 100vh;

	h1 {
		width: 80vw;
		font-size: 8.5vw;

		line-height: 9vw;
		padding-left: 5vw;
		padding-top: 15vh;
	}

	.button {
		margin-left: 5vw;
		margin-top: 12vw;
	}
}

.about {
	background-color: get-color(base);

	img {
		display: block;
		position: relative;

		width: 60vw;
		height: auto;

		margin: 0 auto;
		padding-top: 6vw;
		padding-bottom: 8vw;

		border-radius: 50%;
		z-index: 2;
	}

	.about-info {
		h2 {
			font-weight: normal;
			text-decoration: underline;
			text-align: center;
			font-size: 8vw;
			margin-bottom: 3vw;
		}

		p {
			text-align: center;
			margin: 0 3.5vw;
			padding-bottom: 8vw;
			font-size: 4vw;
		}
	}

	&::before {
		content: "";
		background: get-color(base);
		height: 80px;
		transform: skewY(-3deg);
		position: absolute;
		left: 0;
		right: 0;
		z-index: 1;
		bottom: -0.46875 * 80px;
	}
}
