// Google fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans&display=swap");

// Custom variables & functions
$border-radius: 3vw;
$gradient-angle: 160deg;
$navbar-size: 12vw;
$navbar-size-large: 80px;
$navbar-size-width: 1200px;
$navbar-button-size: 9vw;

$colors: (
	primary: #f8e95f,
	primary-accent: #ffca1d,
	base: #f3f3f3,
	base-accent: #232323
);

@function get-color($color) {
	@return map-get($colors, $color);
}

@mixin gradient($color-1, $color-2) {
	background: $color-1;
	background: linear-gradient($gradient-angle, $color-1 0%, $color-2 100%);
}

@mixin gradient-primary() {
	@include gradient(get-color(primary), get-color(primary-accent));
}

// Mobile device in landscape mode
@mixin view-wide() {
	@media (min-aspect-ratio: 1/1) {
		@content;
	}
}

@mixin view-tablet() {
	@media (min-width: 765px) {
		@content;
	}
}

@mixin view-desktop() {
	@media (min-width: 1400px) {
		@content;
	}
}

@mixin supports-grid() {
	@supports (display: grid) {
		@content;
	}
}

// Custom elements
.button {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: get-color(base);

	border: 0.75vw solid get-color(primary);
	border-radius: $border-radius;

	font-size: 3.25vw;

	padding: 3vw 12.5vw;
	position: relative;
	z-index: 1;

	transition: border-color 0.375s ease-out, color 0.375s ease-out;
}

.button:hover {
	border-color: rgba(0, 0, 0, 0);
	color: get-color(base-accent);
}

.button::before {
	content: "";

	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	@include gradient-primary();
	border-radius: $border-radius;

	clip-path: circle(0% at 50% 50%);
	transition: clip-path 0.4s ease-out;
	z-index: -1;
}

.button:hover::before {
	clip-path: circle(100% at center center);
}

.button:active::before {
	@include gradient(lighten(get-color(primary), 7.5%), lighten(get-color(primary-accent), 7.5%));
	transform: scale(0.95);
}

.spin-x:hover {
	transform: rotateX(360deg);
	transition: transform 0.75s ease-in-out;
}

.spin-y:hover {
	transform: rotateY(360deg);
	transition: transform 0.75s ease-in-out;
}

.spin-z:hover {
	transform: rotateZ(360deg);
	transition: transform 0.75s ease-in-out;
}

.pop {
	animation: popAnimation 0.3s 1 0s ease-out;
}

.poppable {
	cursor: pointer;
}

@keyframes popAnimation {
	0% {
		transform: scale(1);
	}
	30% {
		transform: rotate(-7.5deg) scale(1.1);
	}
	70% {
		transform: rotate(7.5deg) scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.scrollstop {
	position: relative;
	transform: translateY(-$navbar-size);

	@include view-wide() {
		transform: translateY(-$navbar-size * 3/5);
	}

	@include view-tablet() {
		transform: translateY(-$navbar-size-large);
	}
}

// Page elements
html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;

	font-family: "Montserrat", sans-serif;
}

h1 {
	font-family: "Noto Sans", "Montserrat", sans-serif;
}

nav {
	position: fixed;
	z-index: 999;

	width: 100%;
	height: $navbar-size;

	@include view-wide() {
		height: $navbar-size * 3/5;
	}

	@include view-tablet() {
		height: $navbar-size-large;
	}

	background-color: white;
	box-shadow: 0px 25px 80px -20px rgba(0, 0, 0, 0.5);

	.nav-button {
		display: block;

		cursor: pointer;
		float: right;
		margin-right: 5vw;
		width: $navbar-button-size;
		margin-top: $navbar-button-size/4;

		@include view-wide() {
			width: $navbar-button-size * 3/5;
			margin-top: $navbar-button-size/4 * 3/5;
		}

		@include view-tablet() {
			display: none;
		}

		div {
			@include gradient-primary();
			width: 100%;
			height: $navbar-button-size/6;
			margin-bottom: $navbar-button-size/6;

			transform: translate3d(0, 0, 0);
			transition: transform 0.4s ease;

			@include view-wide() {
				height: $navbar-button-size/6 * 3/5;
				margin-bottom: $navbar-button-size/6 * 3/5;
			}
		}

		&.nav-active {
			.line-1 {
				transform: translateY($navbar-button-size/3) rotate(-45deg);

				@include view-wide() {
					transform: translateY($navbar-button-size/3 * 3/5) rotate(-45deg);
				}
			}

			.line-2 {
				transform: translateX(calc(#{$navbar-button-size} + 5vw));

				@include view-wide() {
					transform: translateX(calc(#{$navbar-button-size}* 3 / 5 + 5vw));
				}
			}

			.line-3 {
				transform: translateY(-$navbar-button-size/3) rotate(45deg);

				@include view-wide() {
					transform: translateY(-$navbar-button-size/3 * 3/5) rotate(45deg);
				}
			}
		}
	}

	.nav-main {
		@include view-desktop() {
			margin: 0 calc(calc(100vw - #{$navbar-size-width}) / 2);
		}
	}

	.nav-title {
		display: inline-block;
		margin-left: 5vw;
		margin-top: ($navbar-size - 6.8vw)/2;

		@include view-wide() {
			margin-left: 8vw;
			margin-top: ($navbar-size - 6.8vw)/2 * 2/5;
		}

		@include view-tablet() {
			margin-top: 15.5px;
		}

		@include view-desktop() {
			margin-left: 0;
			margin-top: 12px;
		}

		a {
			text-decoration: none;
			text-align: left;

			font-weight: bold;
			font-size: 5vw;
			font-family: "Noto Sans";
			color: get-color(base-accent);

			@include view-wide() {
				font-size: 4vw;
			}

			@include view-tablet() {
				font-size: 36px;
			}
		}

		a:hover {
			@include gradient-primary();
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.nav-content {
		position: absolute;
		@include gradient-primary();
		border-radius: 0 0 $border-radius $border-radius;
		width: 100vw;
		text-align: center;
		top: $navbar-size;
		list-style: none;

		transform-origin: top center;
		transform: rotateX(90deg);
		transition: transform 0.5s ease-out;

		@include view-wide() {
			top: $navbar-size * 3/5;
		}

		@include view-tablet() {
			text-align: right;
			transition: none;
			transform: none;
			background: none;
			border-radius: 0;

			width: 60vw;
			padding-right: 5vw;
			top: 0;
			bottom: 0;
			right: 0;

			display: inline-flex;
			align-content: flex-end;
			justify-content: flex-end;
		}

		@include view-desktop() {
			right: calc(calc(calc(100vw - #{$navbar-size-width}) / 2) - 25px);
			padding-right: 0;
			width: auto;
		}

		li {
			margin: 2vw 0;

			@include view-tablet() {
				align-self: center;
				margin-left: 3vw;
			}

			@include view-desktop() {
				margin: 0;
				margin-left: 25px;
				margin-right: 25px;
			}
		}

		a {
			text-decoration: none;
			color: get-color(base-accent);
			font-size: 6vw;

			@include view-wide() {
				font-size: 4vw;
			}

			@include view-tablet() {
				font-size: 18px;
				color: get-color(base-accent);
			}
		}

		a:hover {
			text-decoration: underline;
		}

		a.nav-active {
			font-weight: bold;
			text-decoration: underline;
		}

		&.nav-active {
			transform: rotateX(0deg);
		}
	}
}

.landing {
	height: 100vh;
	color: get-color(base);

	background-color: get-color(base-accent);
	background-image: url("../assets/bg-landing.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	h1 {
		width: 80vw;
		font-size: 8.5vw;

		line-height: 9vw;
		padding-left: 5vw;
		padding-top: 15vh;

		@include view-wide() {
			width: 41vw;
			font-size: 4.5vw;

			line-height: 4.5vw;
			padding-left: 8vw;
			padding-top: 25vh;
		}

		@include view-tablet() {
			width: 48vh;
			font-size: 5vh;

			line-height: 5.3vh;
			padding-left: 8vw;
		}
	}

	.button {
		margin-left: 5vw;
		margin-top: 6vh;

		@include view-wide() {
			margin-left: 8vw;

			font-size: 1.9vw;
			padding: 1.76vw 7.35vw;
			border-width: 0.44vw;
			border-radius: 1.76vw;
		}

		@include view-tablet() {
			margin-left: 8vw;

			font-size: 1.9vh;
			padding: 1.76vh 7.35vh;
			border-width: 0.44vh;
			border-radius: 1.76vh;
		}
	}

	.button::before {
		@include view-tablet() {
			border-radius: 1.76vh;
		}
	}
}

.about {
	background-color: get-color(base);

	@include view-tablet() {
		// Check grid supported
		@include supports-grid() {
			display: grid;
			grid-template-columns: auto auto;
			grid-template-areas: "img info";
		}
	}

	img {
		display: block;
		position: relative;

		width: 55vw;
		height: auto;

		margin: 0 auto;
		padding: 8vw 0;

		border-radius: 50%;
		z-index: 2;

		@include view-tablet() {
			// Check grid supported
			@include supports-grid() {
				grid-area: img;

				width: 20vw;
				padding: 0;

				margin-left: 8vw;
				margin-right: 0;
				margin-bottom: 6vh;
				margin-top: 3vh;

				align-self: center;
			}
		}
	}

	.about-info {
		h2 {
			font-weight: normal;
			text-decoration: underline;
			text-align: center;
			font-size: 8vw;
			margin-bottom: 3vw;

			@include view-tablet() {
				// Check grid supported
				@include supports-grid() {
					font-size: 4vw;
					margin: 1vh 0;
					margin-bottom: 3vh;
				}
			}
		}

		p {
			text-align: center;
			margin: 0 3.5vw;
			padding-bottom: 8vw;
			font-size: 4vw;

			@include view-tablet() {
				// Check grid supported
				@include supports-grid() {
					font-size: 1.75vw;
					padding: 0;
				}
			}
		}

		@include view-tablet() {
			// Check grid supported
			@include supports-grid() {
				grid-area: info;

				margin-top: 4vh;
				margin-bottom: 4vh;
				margin-right: 4vw;
				align-self: top;
				transform: translateY(-2vh);
			}
		}
	}

	&::before {
		content: "";
		background-color: inherit;
		position: absolute;
		width: 100%;
		height: 12vw;
		transform: translateY(-9vw);
		clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);

		@include view-wide() {
			height: 16vh;
			transform: translateY(-12vh);
			clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
		}
	}
}

.skills {
	@include gradient-primary();
	color: get-color(base-accent);
	box-shadow: inset 0px 0px 50px -10px rgba(0, 0, 0, 0.25);

	h1 {
		text-align: center;
		font-size: 7vw;
		padding-top: 4vw;
		padding-bottom: 3vw;

		@include view-tablet() {
			@include supports-grid() {
				text-align: left;
				margin-left: 5.5vw;
				font-size: 4vw;
				padding-top: 3vw;
				padding-bottom: 2vw;
			}
		}
	}

	.skills-content {
		padding: 4vw;
		padding-top: 2vw;

		@include view-tablet() {
			@include supports-grid() {
				padding: 2vw 0;
				padding-top: 0;

				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
			}
		}

		.skill-section {
			@include view-tablet() {
				@include supports-grid() {
					justify-self: center;
				}
			}
		}
	}

	h2 {
		font-size: 6vw;

		@include view-tablet() {
			@include supports-grid() {
				font-size: 2.5vw;
			}
		}

		i {
			margin-left: 2.5vw;

			@include view-tablet() {
				@include supports-grid() {
					margin-left: 1vw;
				}
			}
		}
	}

	ul {
		list-style: none;
		padding-bottom: 6vw;

		@include view-tablet() {
			@include supports-grid() {
				padding-bottom: 2vw;
			}
		}

		li {
			font-size: 4.25vw;
			width: 100%;

			@include view-tablet() {
				@include supports-grid() {
					font-size: 1.5vw;
				}
			}

			a {
				color: get-color(base-accent);
				text-decoration: none;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}

	.skill-detail {
		display: none;

		p {
			display: inline-block;
			font-style: italic;
			font-size: 4vw;

			@include view-tablet() {
				@include supports-grid() {
					font-size: 1.25vw;
				}
			}
		}
	}

	.skill-detail-active {
		display: inline-block;
	}
}

.contact {
	background-color: get-color(base-accent);
	color: white;
}
