@import url("https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans:400,700&display=swap");

$nav-height: 50px;
$layout-margin: 2vw;
$gradient-angle: 160deg;

$colors: (
	primary: #068fff,
	primary-accent: #5cdeff,
	base: #f3f3f3
);

@function get-color($color) {
	@return map-get($colors, $color);
}

@mixin gradient($color-1, $color-2) {
	background: $color-1;
	background: linear-gradient($gradient-angle, $color-1 0%, $color-2 100%);
}

@mixin gradient-primary() {
	@include gradient(get-color(primary), get-color(primary-accent));
}

@mixin view-tablet() {
	@media (min-aspect-ratio: 5/8) {
		@content;
	}
}

@mixin auto-border-radius {
	border-radius: 2vw;

	@include view-tablet() {
		border-radius: 2vh;
	}
}

.button {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: get-color(base);

	border: 0.75vw solid get-color(primary);
	@include auto-border-radius();

	font-size: 3.25vw;

	padding: 3vw 12.5vw;
	position: relative;
	z-index: 1;

	@include view-tablet() {
		border-width: 0.5vh;
		font-size: 2vh;
		padding: 1.8vh 7.5vh;
	}

	transition: border-color 0.375s ease-out, color 0.375s ease-out;
}

.button:hover {
	border-color: rgba(0, 0, 0, 0);
	color: get-color(base-accent);
}

.button::before {
	content: "";

	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	@include gradient-primary();
	@include auto-border-radius();

	clip-path: circle(0% at 50% 50%);
	transition: clip-path 0.5s ease-out;
	z-index: -1;
}

.button:hover::before {
	clip-path: circle(100% at center center);
	transform: scale(1.05);
}

.button:active::before {
	@include gradient(lighten(get-color(primary), 10%), lighten(get-color(primary-accent), 10%));
}

* {
	padding: 0;
	margin: 0;
}

h1 {
	font-family: "Noto Sans", sans-serif;
}

body {
	background-color: yellow;
	font-family: "Montserrat", sans-serif;
}

nav {
	z-index: 10;
	background-color: get-color(base);
	display: flex;
	position: fixed;
	width: 100%;
	height: $nav-height;

	.nav-title {
		display: flex;
		height: 100%;
		align-items: center;
		margin-left: $layout-margin * 2;
	}

	.nav-button {
		cursor: pointer;
		margin-right: $layout-margin;
		align-self: center;
		position: absolute;
		right: $layout-margin;

		.line {
			@include gradient-primary();
			width: 36px;
			height: 6px;
			margin-bottom: 6px;
			transition: transform 0.3s ease;
		}

		.line-3 {
			margin-bottom: 0;
		}

		&.nav-active {
			.line {
				transition: transform 0.3s ease;
			}

			.line-1 {
				transform: translateY(12px) rotate(-45deg);
			}

			.line-2 {
				transform: translateX(60px);
			}

			.line-3 {
				transform: translateY(-12px) rotate(45deg);
			}
		}
	}

	.nav-content {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
		position: absolute;
		@include gradient-primary();
		color: get-color(base);
		top: $nav-height - 0.5px;
		width: 100%;
		padding-top: 10px;
		height: auto;

		@include auto-border-radius();
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		transform-origin: 50% 0%;
		transform: rotateX(90deg);

		transition: all 0.3s ease;

		&.nav-active {
			transition: all 0.3s ease;
			transform: rotateX(0deg);
		}

		a {
			font-size: 30px;
			margin-bottom: 12px;
		}
	}
}

main {
	z-index: 5;
	background-color: red;
	padding-top: $nav-height;
}

.landing {
	color: get-color(base);
	background-color: #343434;
	background-image: url("../images/bg-landing.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-attachment: scroll;
	background-size: cover;

	height: 130vw;

	@include view-tablet() {
		height: 70vh;
	}

	&::after {
		z-index: 0;
		content: "";
		opacity: 0.66;
		background-color: #000000;

		position: absolute;
		top: $nav-height;
		height: inherit;
		width: 100%;
	}

	.landing-content {
		position: relative;
		z-index: 2;

		text-align: left;
		margin: 0 $layout-margin;

		h1 {
			padding-top: 20vw;
			font-size: 8vw;
			margin: 0 $layout-margin;

			@include view-tablet() {
				padding-top: 12vh;
				font-size: 9vh;
			}
		}

		p {
			padding-top: 2vw;
			font-size: 3.5vw;
			margin: 0 $layout-margin;
			margin-right: $layout-margin * 15;

			@include view-tablet() {
				padding-top: 1vh;
				font-size: 2vh;
				margin-right: 20vh;
			}
		}

		.button {
			margin-top: 15vw;
			margin-left: $layout-margin + 0.75vw;
		}
	}
}

.projects {
	height: calc(40vh - #{$nav-height});
	background-color: get-color(base);

	h1 {
		font-size: 7vw;
		margin-left: $layout-margin;

		@include view-tablet() {
			font-size: 5vh;
		}
	}
}
