/* 
 * Overall theme
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@font-face {
  font-family: "Century Gothic";
  src: local("Century Gothic Regular"), url("../fonts/GOTHIC.woff") format("woff");
}

@font-face {
  font-family: "Century Gothic";
  font-style: italic;
  src: local("Century Gothic Italic"), url("../fonts/GOTHICI.woff") format("woff");
}

@font-face {
  font-family: "Century Gothic";
  font-weight: bold;
  src: local("Century Gothic Bold"), url("../fonts/GOTHICB.woff") format("woff");
}

@font-face {
  font-family: "Century Gothic";
  font-style: italic;
  font-weight: bold;
  src: local("Century Gothic Bold Italic"), url("../fonts/GOTHICBI.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #222f60;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Century Gothic", "Montserrat", sans-serif;
}

/*
 * Theme elements
 */
.hidden {
  visibility: hidden;
}

.social-icon {
  padding: 10px;
  font-size: 23px;
  width: 43px;
  height: 43px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.social-icon-github {
  background: #171515;
  color: white;
}

.social-icon-linkedin {
  background: #0077b5;
  color: white;
}

.social-icon-resume {
  background: #f3f3f3;
  color: #151617;
}

.social-icon-email {
  background: #ff4242;
  color: #f3f3f3;
}

.button {
  display: inline-block;
  position: relative;
  text-decoration: none;
  border-radius: 7px;
  padding: 8px 15px;
  border: 5px solid white;
  color: #ffffff;
  z-index: 1;
}

.button::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-size: 100% 100%;
  background-color: yellow;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  -webkit-transform: translate(-100%, -8px) translateX(15px);
          transform: translate(-100%, -8px) translateX(15px);
  z-index: -2;
}

/*
 * Specific theme
 */
nav {
  font-size: 23px;
  padding-bottom: 10px;
}

.nav-content {
  list-style-type: none;
  display: none;
}

.nav-links,
.nav-logo {
  text-decoration: none;
  color: #ffffff;
}

.nav-content li {
  text-align: center;
  margin: 15px auto;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-content li a i {
  margin: 0px 10px;
}

.nav-logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.nav-button {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
}

.nav-active {
  display: block;
}

@media screen and (min-width: 1000px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-content li {
    margin: 0;
  }
  .nav-content .social-icons {
    padding-left: 40px;
  }
  .nav-content .social-icons .nav-links {
    margin-left: 20px;
  }
  .nav-content li a i {
    margin: 0px;
  }
  .nav-logo {
    margin-top: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .nav-button {
    display: none;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
}

.landing {
  background-color: red;
}

.showcase {
  background-color: blue;
}
/*# sourceMappingURL=style.css.map */