@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

@font-face {
	font-family: "Century Gothic";
	src: local("Century Gothic Regular"), url("../fonts/GOTHIC.woff") format("woff");
}

@font-face {
	font-family: "Century Gothic";
	font-style: italic;
	src: local("Century Gothic Italic"), url("../fonts/GOTHICI.woff") format("woff");
}

@font-face {
	font-family: "Century Gothic";
	font-weight: bold;
	src: local("Century Gothic Bold"), url("../fonts/GOTHICB.woff") format("woff");
}

@font-face {
	font-family: "Century Gothic";
	font-style: italic;
	font-weight: bold;
	src: local("Century Gothic Bold Italic"), url("../fonts/GOTHICBI.woff") format("woff");
}

@mixin font-title() {
	font-family: "Century Gothic", "Montserrat", sans-serif;
}

@mixin font-regular() {
	font-family: "Montserrat", sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

html {
	@include font-regular();
}

h1 {
	@include font-title();
}

nav {
	margin-top: 20.5px;
	margin-left: 55px;
	margin-right: 55px;
	background-color: blue;

	display: flex;

	.nav-logo {
		display: flex;
		justify-content: flex-start;

		h1 {
			font-size: 23px;
			align-self: center;
			color: white;
		}
	}

	.nav-content {
		margin-left: auto;
		margin-right: 0px;

		display: flex;
		justify-content: flex-end;

		@include font-title();
		font-size: 23px;

		a:not(.fab):not(.fas) {
			margin-left: 40px;
			align-self: center;
			font-weight: bold;
			text-decoration: none;
			color: white;
		}

		.nav-icons {
			a {
				padding: 13px;
				font-size: 20px;
				width: 20px;
				text-align: center;
				text-decoration: none;
				border-radius: 50%;
				margin-right: 0;
				margin-left: 18.69px;
			}

			a:nth-child(1) {
				margin-left: 40px;
			}

			.fa-github {
				background: #24292e;
				color: #ffffff;
			}

			.fa-linkedin {
				background: #007bb5;
				color: #ffffff;
			}

			.fa-file-alt {
				background: #f3f3f3;
				color: #000000;
			}

			.fa-feather-alt {
				background: #ff4242;
				color: #ffffff;
			}
		}
	}
}

main {
	.landing {
		padding-top: 200px;
		margin-bottom: 500px;
		text-align: center;

		h1 {
			font-size: 99px;
		}

		.landing-content {
			display: flex;
			justify-content: center;

			p {
				margin-top: 10px;
				font-size: 30px;
				width: 801px;
			}
		}
	}
}
