@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

@font-face {
	font-family: "Century Gothic";
	src: local("Century Gothic Regular"), url("../fonts/GOTHIC.woff") format("woff");
}

@font-face {
	font-family: "Century Gothic";
	font-style: italic;
	src: local("Century Gothic Italic"), url("../fonts/GOTHICI.woff") format("woff");
}

@font-face {
	font-family: "Century Gothic";
	font-weight: bold;
	src: local("Century Gothic Bold"), url("../fonts/GOTHICB.woff") format("woff");
}

@font-face {
	font-family: "Century Gothic";
	font-style: italic;
	font-weight: bold;
	src: local("Century Gothic Bold Italic"), url("../fonts/GOTHICBI.woff") format("woff");
}

@mixin font-title() {
	font-family: "Century Gothic", "Montserrat", sans-serif;
}

@mixin font-regular() {
	font-family: "Montserrat", sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

html {
	@include font-regular();
}

h1 {
	@include font-title();
}

nav {
	display: flex;
	background-color: red;
	justify-content: center;

	padding: 30px 0;

	font-size: 37.5px;
	font-weight: bold;
	@include font-title();

	.nav-logo {
		display: flex;
		margin-right: 500px;

		h1 {
			font-size: 37.5px;
		}
	}

	.nav-content {
		display: flex;

		a {
			margin-right: 65px;
		}

		.nav-icons {
			a {
				margin-left: 25px;
				margin-right: 0;
			}
		}
	}
}

main {
	.landing {
		padding-top: 200px;
		margin-bottom: 500px;
		text-align: center;

		h1 {
			font-size: 150px;
		}

		.landing-content {
			display: flex;
			justify-content: center;

			p {
				margin-top: 20px;
				font-size: 45px;
				width: 1200px;
			}
		}
	}
}
