@import url("https://use.typekit.net/gby4xoo.css");

html:not([data-theme="dark"]) {
	--color-primary: #22b17a;
	--color-primary-shadow: rgba(0, 0, 0, 0.3);
	--color-secondary: #696969;
	--color-accent: #ffffff;
	--color-accent-secondary: #f3f3f3;
	--color-background: #ffffff;
	--color-text: #000000;
	--color-github: #24292e;
	--color-linkedin: #0b65c2;
}

html[data-theme="dark"] {
	--color-primary: #22b17a;
	--color-primary-shadow: rgba(0, 0, 0, 0.8);
	--color-secondary: #696969;
	--color-accent: #ffffff;
	--color-accent-secondary: #f3f3f3;
	--color-background: #242424;
	--color-text: #ffffff;
	--color-github: #24292e;
	--color-linkedin: #0b65c2;
}

html.color-transition,
html.color-transition *,
html.color-transition *::before,
html.color-transition *::after {
	transition: background-color 750ms !important;
}

body {
	background-color: var(--color-background);
}

@mixin shadow {
	box-shadow: 0px 3px 6px 0px var(--color-primary-shadow);
}

@mixin tiny {
	@media (max-width: 430px) {
		@content;
	}
}

@keyframes spin {
	0% {
		transform: rotateZ(20deg) scale(1.1);
	}
	100% {
		transform: rotateZ(360deg) scale(1);
	}
}

.spin {
	animation: spin 1s ease-out;
	cursor: wait;
}

* {
	font-family: proxima-nova, "Helvetica Neue", sans-serif;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

main {
	text-align: center;
}

.container {
	@media (min-width: 970px) {
		max-width: 720px;
	}
}

.headshot {
	padding: 0;
	width: 170px;
	height: 170px;

	@include tiny {
		width: 140px;
		height: 140px;
	}

	margin-top: 30px;
	border-radius: 50%;
	background: none;
	border: none;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;

		&:not(.spin) {
			cursor: pointer;
			transform: scale(1);
			transition: transform 0.1s ease-out;

			&:hover {
				transform: scale(1.1);
				transition: transform 0.1s ease-out;
			}
		}

		border-radius: 50%;
		@include shadow;
	}
}

.title {
	color: var(--color-primary);

	font-weight: 700;
	font-style: normal;
	font-size: 54px;

	margin-top: 16px;
	margin-bottom: 0px;

	@include tiny() {
		font-size: 42px;
	}
}

.social-icons {
	margin-top: 0;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;

	.social-icon {
		width: 45px;
		height: 45px;
		padding: 0;
		margin: 0px 10px;

		@include tiny() {
			width: 35px;
			height: 35px;
			margin: 0px 5px;
		}

		&:hover {
			transform: scale(1.2);
			transition: transform 0.1s ease-out;
		}

		transform: scale(1);
		transition: transform 0.1s ease-out;

		background: var(--color-secondary);
		color: var(--color-accent);
		border: none;

		&.icon-github:hover {
			background: var(--color-github);
		}

		&.icon-linkedin:hover {
			background: var(--color-linkedin);
		}

		&.icon-mail:hover {
			background: var(--color-primary);
		}

		&.icon-phone:hover {
			background: var(--color-primary);
		}

		&.icon-github {
			span {
				transform: translateY(-75%) scale(1.75);

				@include tiny() {
					transform: translateY(-75%) scale(1.5);
				}
			}
		}

		&.icon-phone {
			span {
				transform: scale(1.25);

				@include tiny() {
					transform: scale(1);
				}
			}
		}

		&:not(button) span {
			transform: translateY(-75%) scale(1.5);
			position: relative;
			top: 50%;

			@include tiny() {
				transform: translateY(-75%) scale(1.25);
			}
		}

		span {
			transform: scale(1.5);
			position: relative;

			@include tiny() {
				transform: scale(1.25);
			}
		}

		border-radius: 50px;
	}
}

.info {
	background-color: var(--color-primary);
	color: var(--color-accent);
	border-radius: 15px;
	box-shadow: inset 0px 0px 10px 0px var(--color-primary-shadow);
	padding: 20px;

	padding-top: 40px;
	display: flex;
	justify-content: center;

	font-size: 20px;

	@include tiny() {
		font-size: 14px;
	}

	#copyButton {
		margin: 0px;
		margin-left: 30px;
		margin-right: 15px;

		@include tiny {
			margin-left: 20px;
			margin-right: 5px;
		}

		color: var(--color-accent);
		cursor: pointer;

		border: none;
		background: none;
		height: 100%;
	}

	#openButton {
		color: var(--color-accent);
		cursor: pointer;
		height: 100%;
	}

	.collapse-button:hover {
		opacity: 0.7;
	}

	.collapse-button:active {
		transform: translateY(5px) scale(1.5);
		opacity: 1;
	}
}

.bio {
	margin-top: 40px;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: var(--color-text);

	@include tiny() {
		font-size: 16px;
	}
}

.cards {
	margin-top: 60px;

	.card {
		border: none;
		background-color: var(--color-primary);
		text-align: left;
		border-radius: 0;
		padding: 16px 20px;
		margin-bottom: 20px;
		@include shadow;

		.card-title {
			font-weight: 700;
			font-style: normal;
			font-size: 24px;
			color: var(--color-accent);
			margin-bottom: 0;
			line-height: 1;

			@include tiny() {
				font-size: 20px;
			}
		}

		.card-subtitle {
			font-weight: 400;
			font-style: italic;
			font-size: 16px;
			color: var(--color-accent-secondary);
			margin-top: 0;

			@include tiny() {
				font-size: 14px;
			}
		}

		.card-description {
			font-weight: 400;
			font-style: normal;
			font-size: 16px;
			color: var(--color-accent-secondary);
			margin-top: 0;
			line-height: 1.25;
			margin-top: 16px;
			margin-bottom: 0;

			@include tiny() {
				font-size: 14px;
			}
		}

		.card-links {
			text-align: end;
			margin-top: -16px;
			text-decoration: none;

			@include tiny() {
				text-align: start;
				margin-right: 40%;
			}

			.card-link {
				margin-top: 0;
				margin-right: 0;
				margin-left: 0;

				&:hover {
					opacity: 0.7;
				}

				i {
					padding: 16px 0px;
					margin-left: 10px;
					color: var(--color-accent);
					font-size: 38px;

					@include tiny() {
						font-size: 28.5px;
						margin-top: 5px;
						margin-right: 10px;
						margin-left: 0px;
					}
				}
			}
		}

		&#card-csstoolkit {
			background-image: url("../assets/csstoolkit.png");
		}

		&#card-personalwebsite {
			background-image: url("../assets/personalwebsite.png");
		}

		&#card-fashionclassifier {
			background-image: url("../assets/fashionclassifier.png");
		}

		&#card-lyricgen {
			background-image: url("../assets/lyricgen.png");
		}

		&#card-stockpred {
			background-image: url("../assets/stockpred.png");
		}

		&#card-engine {
			background-image: url("../assets/engine.png");
		}

		background-blend-mode: multiply;
		background-position: right;
		background-repeat: no-repeat;
		background-size: 60%;

		@include tiny() {
			background-size: contain;
			background-position: center;
		}
	}
}

.end {
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: var(--color-text);

	@include tiny() {
		font-size: 16px;
	}

	padding-top: 100vh;
	padding-bottom: 100px;

	p {
		margin-bottom: 10px;
	}

	a {
		text-decoration: underline;
	}
}
