@import url("https://use.typekit.net/gby4xoo.css");
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(20deg) scale(1.1);
            transform: rotateZ(20deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scale(1);
            transform: rotateZ(360deg) scale(1);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotateZ(20deg) scale(1.1);
            transform: rotateZ(20deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scale(1);
            transform: rotateZ(360deg) scale(1);
  }
}

.spin {
  -webkit-animation: spin 1s ease-out;
          animation: spin 1s ease-out;
  cursor: wait;
}

* {
  font-family: proxima-nova, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

main {
  text-align: center;
}

@media (min-width: 970px) {
  .container {
    max-width: 720px;
  }
}

.headshot {
  -o-object-fit: cover;
     object-fit: cover;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-top: 30px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.headshot:not(.spin) {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.headshot:not(.spin):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

@media (max-width: 430px) {
  .headshot {
    width: 140px;
    height: 140px;
  }
}

.title {
  color: #22b17a;
  font-weight: 700;
  font-style: normal;
  font-size: 54px;
  margin-top: 16px;
  margin-bottom: 0px;
}

@media (max-width: 430px) {
  .title {
    font-size: 42px;
  }
}

.social-icons {
  margin-top: 0;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons .social-icon {
  width: 45px;
  height: 45px;
  padding: 0;
  margin: 0px 10px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
  background: #696969;
  color: #ffffff;
  border-radius: 50px;
}

@media (max-width: 430px) {
  .social-icons .social-icon {
    width: 35px;
    height: 35px;
    margin: 0px 5px;
  }
}

.social-icons .social-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.social-icons .social-icon.icon-github:hover {
  background: #24292e;
}

.social-icons .social-icon.icon-linkedin:hover {
  background: #0b65c2;
}

.social-icons .social-icon.icon-mail:hover {
  background: #22b17a;
}

.social-icons .social-icon.icon-phone:hover {
  background: #22b17a;
}

.social-icons .social-icon.icon-github span {
  -webkit-transform: translateY(-75%) scale(1.75);
          transform: translateY(-75%) scale(1.75);
}

@media (max-width: 430px) {
  .social-icons .social-icon.icon-github span {
    -webkit-transform: translateY(-75%) scale(1.5);
            transform: translateY(-75%) scale(1.5);
  }
}

.social-icons .social-icon.icon-phone span {
  -webkit-transform: translateY(-75%) scale(1.25);
          transform: translateY(-75%) scale(1.25);
}

@media (max-width: 430px) {
  .social-icons .social-icon.icon-phone span {
    -webkit-transform: translateY(-75%) scale(1);
            transform: translateY(-75%) scale(1);
  }
}

.social-icons .social-icon span {
  -webkit-transform: translateY(-75%) scale(1.5);
          transform: translateY(-75%) scale(1.5);
  position: relative;
  top: 50%;
}

@media (max-width: 430px) {
  .social-icons .social-icon span {
    -webkit-transform: translateY(-75%) scale(1.25);
            transform: translateY(-75%) scale(1.25);
  }
}

.info {
  background-color: #22b17a;
  color: #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(22, 113, 78, 0.75);
          box-shadow: inset 0px 0px 10px 0px rgba(22, 113, 78, 0.75);
  padding: 20px;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.info #copyButton {
  margin: 0px;
  margin-left: 30px;
  margin-right: 15px;
  color: #ffffff;
  cursor: pointer;
}

.info #openButton {
  color: #ffffff;
  cursor: pointer;
}

.info .collapse-button:hover {
  opacity: 0.7;
}

.info .collapse-button:active {
  -webkit-transform: translateY(5px) scale(1.5);
          transform: translateY(5px) scale(1.5);
  opacity: 1;
}

.bio {
  margin-top: 40px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

@media (max-width: 430px) {
  .bio {
    font-size: 16px;
  }
}

.cards {
  margin-top: 60px;
}

.cards .card {
  border: none;
  background-color: #22b17a;
  text-align: left;
  border-radius: 0;
  padding: 16px 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 60%;
}

.cards .card .card-title {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 0;
  line-height: 1;
}

@media (max-width: 430px) {
  .cards .card .card-title {
    font-size: 20px;
  }
}

.cards .card .card-subtitle {
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  color: #f3f3f3;
  margin-top: 0;
}

@media (max-width: 430px) {
  .cards .card .card-subtitle {
    font-size: 14px;
  }
}

.cards .card .card-description {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #f3f3f3;
  margin-top: 0;
  line-height: 1.25;
  margin-top: 16px;
  margin-bottom: 0;
}

@media (max-width: 430px) {
  .cards .card .card-description {
    font-size: 14px;
  }
}

.cards .card .card-links {
  text-align: end;
  margin-top: -16px;
  text-decoration: none;
}

@media (max-width: 430px) {
  .cards .card .card-links {
    text-align: start;
    margin-right: 40%;
  }
}

.cards .card .card-links .card-link {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.cards .card .card-links .card-link:hover {
  opacity: 0.7;
}

.cards .card .card-links .card-link i {
  padding: 16px 0px;
  margin-left: 10px;
  color: white;
  font-size: 38px;
}

@media (max-width: 430px) {
  .cards .card .card-links .card-link i {
    font-size: 28.5px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0px;
  }
}

.cards .card#card-csstoolkit {
  background-image: url("../assets/csstoolkit.png");
}

.cards .card#card-personalwebsite {
  background-image: url("../assets/personalwebsite.png");
}

.cards .card#card-fashionclassifier {
  background-image: url("../assets/fashionclassifier.png");
}

.cards .card#card-lyricgen {
  background-image: url("../assets/lyricgen.png");
}

.cards .card#card-stockpred {
  background-image: url("../assets/stockpred.png");
}

.cards .card#card-engine {
  background-image: url("../assets/engine.png");
}

@media (max-width: 430px) {
  .cards .card {
    background-size: contain;
    background-position: center;
  }
}

.end {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-top: 100vh;
  padding-bottom: 30px;
}

@media (max-width: 430px) {
  .end {
    font-size: 16px;
  }
}

.end p {
  margin-bottom: 0px;
}

.end img {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  margin-top: 40px;
}

.end a {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */