---
import '../assets/tailwind.css'
import ThemeButton from '../components/ThemeButton';
import Hotjar from '../components/Hotjar.astro';
---

<html lang="en">
    <head>
        <title>Jacob Seiler</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Personal website">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <Hotjar id={3412742} version={6} />
    </head>
    <body class="dark:bg-neutral-800 motion-reduce:transition-none">
        <div id="top" class="pb-8" tabindex="-1"></div>
        <ThemeButton client:only />
        <main class="container text-center px-8 tiny:px-0">
            <slot />
        </main>
    </body>
</html>
